.card-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  border-radius: 10px;
  background: rgba(215, 207, 207, 0.9);

  .image-container {
    background: var(--background);
    border-radius: 10px 10px 0 0;
    padding: 10px;
    display: flex;
    justify-content: center;

    .principal-image {
      width: 200px;
      height: 200px;
      object-fit: contain;
    }
  }

  .descriptions-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: #000;

    h2 {
      font-size: 1.4rem;
      margin-bottom: 1rem;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: flex;
        align-items: center;
        padding: 4px 0;

        img {
          width: 26px;
          height: 26px;
        }

        span {
          margin-left: 8px;
        }
      }
    }

    button {
      margin-top: 1rem;
      width: 100%;
      padding: 12px;
      border-radius: 4px;
      background: var(--background-button);
      color: #fff;
      border: none;

      &:hover {
        background: var(--hover-button);
      }
    }
  }
}
