.info-products-container{
    background-color: #000000;
    background-image: url('../../Imgs/apple-capa14.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    position: relative;
    z-index: -1;
}