$phone-width: 520px;
$tablet-min-width: 521px;
$tablet-max-width: 790px;
$desktop-width: 791px;

@mixin phone {
    @media (max-width: #{$phone-width})  {
        @content;
    }
}
@mixin tablet {
    @media (min-width: #{$tablet-min-width}) and (max-width: #{$tablet-max-width})  {
        @content;
    }
}
@mixin phoneAndTablet {
    @media (max-width: #{$tablet-max-width})  {
        @content;
    }
}
@mixin desktop {
    @media (min-width: #{$desktop-width})  {
        @content;
    }
}
@mixin inline-animation($duration){
    $name: inline-#{unique-id()};
    
    @keyframes #{$name}{
        @content
    }
    animation-name: $name;
    animation-duration: $duration;
    animation-iteration-count: inherit;
}

.myHeader{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--primary);     
    
    .nav-bar{
        height: 2rem;
        display: flex;     
        justify-content: space-between;
        align-items: center;

        img{
            width: 140px;
            height: 120px;

        }
        .mobile-icon{
            display: none;
        }
        
        .nav-list-mobile{
            display: none;
        }
        
    }
    @include phone(){

    }
    @include tablet(){

    }
    @include phoneAndTablet(){
        .nav-bar{
            padding: 1.5rem 4rem;
            
            .nav-item{
                display: none;
            }
            .icon-nav{
                display: block;
            }
            
            .nav-list-mobile{
                display: block;
            }
            .mobile-icon{                
                display: block;
                background-color: none;
                button{
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                }
                .icon-nav{
                    width: 35px;
                    height: 35px;                    
                }
            }
            
        }
        .mobile-menu{
            width: 100%;
            // height: 100%;
            position: absolute;    
            background-color: var(--primary);
            top: 0.5;
                     

            @include inline-animation(0.5s){
                from {opacity: 0;}
                to{top: 0.9;}
            }
            
            .nav-list-mobile{
                display: flex;
                transition: width 15s;
                flex-direction: column;
                text-align: center;                
                padding-bottom: 1rem;
                
                .nav-item{
                display: block;
                padding-top: 1.2rem;
                
                }
                .nav-item a{
                    color: black;
                    font-weight: bold;

                }
            
            }
        }
    }
    @include desktop(){
    
    .nav-bar{
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        height: 3rem;
        justify-content: space-around;
    }
    .mobile-menu{
        display: none;
    }
    .desktop-menu{
        ul{
            display: flex;
        }
        li{
            padding-left: 2px;
            padding-right: 2px;
            max-height: 30px;
            border-radius: 3px;
            &:hover{
                margin: -3px 0 0 -3px;
                border-bottom: solid 2px white;
            }
        }
        a{
            color: white;
            padding: 15px;
            font-weight: bold;
        }
    }
    }
    

}